.category {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fde4e4;
  padding: 18px;
  margin: 20px 30px;
  border-radius: 2px;
  transition: all 0.3s ease-in;
}
.category:hover {
  transform: translateY(-15px);
}
.image {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  object-fit: fill;
}
@media (max-width: 500px) {
  .category {
    text-align: center;
    margin: 20px;
    padding: 12px;
  }
  .image {
    width: 2rem;
    height: 2rem;
  }
  .category span {
    font-size: 10px;
  }
}
