.allFoods {
  margin: 20px 0;
}
.category {
  margin: 20px 0;
}
.category input {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgb(56, 56, 56);
  font-size: 1rem;
}
.card {
  justify-content: center;
}
.paginationBtn {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  margin: 20px auto;
  font-size: 1rem !important;
}
.paginationBtn a {
  padding: 7px 13px;
  border-radius: 5px;
  background-color: #212245;
  color: #fff !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.paginationBtn a:hover {
  background-color: red;
}
