.navbar a {
  margin-right: 20px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}
.nav {
  position: relative !important;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid;
  z-index: 999;
  justify-content: flex-end;
}
.navLink:hover,
.active:hover {
  color: var(--red) !important;
}
.active {
  color: var(--red);
}
.badge {
  position: relative;
}
.badge span {
  position: absolute;
  top: -10px;
  text-align: center;
  right: -10px;
  background-color: red;
  border-radius: 100%;
  font-size: 12px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navItem {
  margin-left: 10px;
}

@media (min-width: 576px) {
  .menuMobile {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  .navItems {
    display: none;
    position: absolute;
    width: 200px;
    height: 100vh !important;
    /* display: flex; */
    flex-direction: column !important;
    align-items: center;
    right: 0;
    background-color: rgb(182, 182, 182);
    justify-content: center;
    margin-top: 30px;
    z-index: 100;
  }
}
