.navbar a {
  margin-right: 20px;
}
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-size: 20px;
  font-weight: 600;
}
.nav {
  position: relative !important;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid;
  z-index: 999;
  justify-content: flex-end;
}
.navLink:hover,
.active:hover {
  color: var(--red) !important;
}
.active {
  color: var(--red);
}
.badge {
  position: relative;
}
.badge span {
  position: absolute;
  top: -10px;
  text-align: center;
  right: -10px;
  background-color: red;
  border-radius: 100%;
  font-size: 12px;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.navItem {
  margin-left: 10px;
}
.navItems a {
  margin: 0 10px;
}

@media (min-width: 576px) {
  .menuMobile {
    display: none;
  }
}

@media screen and (max-width: 550px) {
  .navItems {
    display: none !important;
    position: absolute;
    top: 12vh;
    right: 0;
    left: 0;
    background-color: #fff;
    flex-direction: column !important;
    width: 100vw;
    align-items: center;
    z-index: 999;
    transition: all 0.5s ease-in-out;
  }
  .show {
    display: flex !important;
  }
  .navItems a {
    margin: 20px 0;
  }

  .navMenu {
    display: none;
  }
  .logo span {
    font-size: 15px;
  }
}
