.product {
  margin: 10px;
}
.title {
  font-size: 1rem !important;
  font-weight: 500;
}
.image {
  width: 190px;
  margin: 0.5rem;

  transition: all 0.5s ease-in;
}
.image:hover {
  transform: scale(1.1);
}
@media only screen and (max-width: 500px) {
  .title {
    font-size: 0.8rem !important;
    line-height: 1.1rem !important;
  }
}
