@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Istok+Web&display=swap");

:root {
  --red: red;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  scroll-behavior: smooth !important;
  font-family: "Istok Web", sans-serif;
  background-color: #ffff;
}
button {
  outline: none;
  border: none;
  font-size: 1rem;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
.mt-20 {
  margin: 100px 0px !important;
}
.red {
  color: red !important;
}
.button {
  background-color: red;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #fff !important;
}

.gray {
  color: #777;
}
